body{
    margin:0;
    padding:0;
    font-family:Arial,sans-serif;
    background:#0b1f3a;
    color:white;
    text-align:center;
}

h1{
    margin-top:80px;
    font-size:38px;
}

p{
    font-size:20px;
    color:#d9d9d9;
}

button{
    margin:15px;
    padding:15px 30px;
    font-size:18px;
    border:none;
    border-radius:30px;
    background:#ff9800;
    color:white;
    cursor:pointer;
}

button:hover{
    background:#e68900;
}*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#071b3b;
    color:white;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
    background:#0b2a5a;
}

nav h2{
    color:#ff9800;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:bold;
}

.hero{
    text-align:center;
    padding:80px 20px;
}

.hero h1{
    font-size:42px;
}

.hero p{
    font-size:20px;
    margin:15px 0;
}

.hero h3{
    color:#ff9800;
    margin-bottom:30px;
}

button{
    background:#ff9800;
    color:white;
    border:none;
    padding:15px 30px;
    border-radius:30px;
    font-size:18px;
    margin:10px;
}

.features{
    padding:40px;
    text-align:center;
}

.box{
    background:#0b2a5a;
    padding:20px;
    margin:15px auto;
    border-radius:15px;
    max-width:350px;
}

footer{
    text-align:center;
    padding:20px;
    background:#0b2a5a;
    margin-top:40px;
}.login-box{
    width:90%;
    max-width:350px;
    margin:100px auto;
    background:#0b2a5a;
    padding:30px;
    border-radius:15px;
    text-align:center;
}

.login-box input{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
}

.login-box a{
    color:#ff9800;
    text-decoration:none;
}.dashboard{
    padding:30px;
    text-align:center;
}

.card{
    background:#0b2a5a;
    margin:15px auto;
    padding:20px;
    width:90%;
    max-width:350px;
    border-radius:15px;
    font-size:20px;
}.logo{
    width:120px;
    height:120px;
    border-radius:50%;
    display:block;
    margin:20px auto;
}<img src="banner.png" alt="TSF Coaching Banner" style="width:100%; max-width:900px; display:block; margin:auto; border-radius:15px;">